{% extends 'base.html.twig' %}

{# Titre de la fenêtre #}
{% block title %} leboncoin | Accueil {% endblock %}

{# Corps de la page #}
{% block body %}
    <div class="accueil">
        {% for message in app.flashes("successAdd") %}
            <div class="message_success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
