<!DOCTYPE html>
<html>
    <head>
        {# Méta-données #}
        <meta charset="UTF-8">
        {# Titre de la fenêtre #}
        <title>{% block title %}leboncoin{% endblock %}</title>
        {# Icône de la fenêtre #}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Fichiers CSS #}
        {% block stylesheets %}
            {# Index #}
            <link href="{{ asset('assets/css/index/index.css') }}" rel="stylesheet">
        {% endblock %}

        {# Fichiers JS #}
        {% block javascripts %}

        {% endblock %}
    </head>
    <body>
        {# Corps des pages #}
        {% block body %}{% endblock %}
    </body>
</html>
