<!DOCTYPE html>
<html>
    <head>
        {# Méta-données #}
        <meta charset="UTF-8">
        {# Titre de la fenêtre #}
        <title>{% block title %}leboncoin{% endblock %}</title>
        {# Icône de la fenêtre #}
        <link rel="icon" href="{{ asset('assets/images/leboncoin_logo.svg') }}">
        {# Fichiers CSS #}
        {% block stylesheets %}
            {# Index #}
            <link href="{{ asset('assets/css/base/base.css') }}" rel="stylesheet">
        {% endblock %}

        {# Fichiers JS #}
        {% block javascripts %}

        {% endblock %}
    </head>
    <body>
        {# Barre de navigation #}
        {% block header %}
            <div class="nav-bar">
                <div class="logo">leboncoin</div>
                <ul class="nav-list">
                    <a href"">
                        <li>Déposer une annonce</li>
                    </a>
                    <a href"">
                        <li>Se connecter</li>
                    </a>
                    <a href"">
                        <li>S'inscrire</li>
                    </a>
                </ul>
            </div>
        {% endblock %}
        {# Corps des pages #}
        {% block body %}{% endblock %}
    </body>
</html>
